.modalbox {
  position: fixed;
  z-index: 10000;
  background: rgba(0,0,0,.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  &-detail {
    background: #fff;
    bottom: 0;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.149);
    opacity: 1;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .1s linear;
    visibility: visible;
    width: 500px;
    z-index: 100;
    &-hide {
      visibility: hidden;
      opacity: 0;
      transform: translate(150%, 0);
    }
    &-content {
      overflow: hidden;
      position: relative;
      height: 100%;
      &-scroll {
        width: 500px;
        height: calc(100% - 91px);
        position: relative;
      }
      &-header {
        border-bottom: 1px solid #f1f4f8;
        padding: 25px;
        display: flex;
        background: #f8fbff;
        align-items: center;
        &-btns {
          margin-left: auto;
          height: 30px;
          position: relative;
          display: flex;
          gap: 20px;
        }
        &-btn {
          width: 30px;
          height: 30px;
          position: relative;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          &-close {
            &:after, &:before {
              background: #919395;
              border-radius: 2px;
              content: "";
              height: 30px;
              left: 50%;
              position: absolute;
              top: 50%;
              width: 4px;
            }
            &:before {
              transform: translate(-50%,-50%) rotate(45deg);
            }
            &:after {
              transform: translate(-50%,-50%) rotate(-45deg);
            }
          }
          &-dots {
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background: #919395;
            position: relative;
            &:before, &:after {
              content: '';
              position: absolute;
              width: 6px;
              height: 6px;
              border-radius: 6px;
              background: #919395;
            }
            &:before {
              left: -10px;
            }
            &:after {
              left: 10px;
            }
          }
          &:hover {
            & > .modalbox-detail-content-header-btn-select {
              visibility: visible;
              opacity: 1;
              top: 35px;
            }
          }
          &-select {
            position: absolute;
            background: #fff;
            box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.14902);
            border-radius: 5px;
            width: 200px;
            z-index: 2;
            top: 45px;
            right: -25px;
            visibility: hidden;
            opacity: 0;
            transition: all .05s linear;
            &-angle {
              width: 30px;
              height: 15px;
              position: absolute;
              top: -15px;
              right: 10px;
              transform: translate(-50%, 0);
              overflow: hidden;
              &:before {
                content: '';
                position: absolute;
                box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.14902);
                width: 20px;
                height: 20px;
                background: #fff;
                transform: rotate(44deg);
                left: 5px;
                top: 10px;
              }
            }
          }
        }
        &-detail {
          display: flex;
          flex-direction: column;
          &-title {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
          }
          &-desc {
            color: #7d7f81;
            font-size: 12px;
          }
        }
      }
      &-body {
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      &-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        & > button {
          background: #0b76a6;
          font-size: 12px;
          height: 36px;
          border: none;
          padding: 0 15px 0 15px;
          color: white;
          font-weight: 600;
          border-radius: 5px;
          width: max-content;
          min-width: 150px;
        }
        &-line {
          height: 1px;
          background: #F1F4F8;
        }
        &-btn {
          color: #0b76a6;
          cursor: pointer;
          background: #c7ebfb;
          width: max-content;
          padding: 5px 10px 5px 10px;
          margin-top: 5px;
          border-radius: 3px;
        }
        &-object {
          gap: 10px;
        }
        &-title {
          font-size: 12px;
          color: #000;
          text-transform: uppercase;
          font-weight: 600;
          & > span {
            color: #0b76a6;
          }
        }
        &-value {
          color: #6c757d;
          font-size: 12px;
          &-pre {
            white-space: pre-wrap;
          }
          & > select, & > input {
            width: 100%;
            height: 36px;
            border: none;
            padding: 0 10px 0 10px;
            border-radius: 5px;
            outline: none;
            background: #f8fbff;
          }
          &-input {
            width: 100%;
            height: 36px;
            border: none;
            padding: 0 10px 0 10px;
            border-radius: 5px;
            outline: none;
            background: #f8fbff;
          }
        }
        &-links {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
        &-link {
          text-decoration: none;
          color: #0b76a6;
        }
        &-list {
          background: #f8fbff;
          border-radius: 5px;
          font-size: 12px;
          &-arr {
            transform: rotate(90deg) !important;
          }
          &-info {
            padding: 10px 10px 10px 20px;
            color: #6c757d;
            font-weight: 600;
            cursor: pointer;
            display: flex;
            gap: 10px;
            align-items: center;
            & > span {
              color: #0b76a6;
            }
            & > div:last-child {
              transform: rotate(270deg);
            }
          }
          &-details {
            display: flex;
            padding: 0 20px 20px;
            flex-direction: column;
            gap: 15px;
            &-hide {
              display: none;
            }
          }
          &-view {
            display: flex;
            gap: 5px;
            flex-direction: column;
            &-key {
              font-size: 12px;
              color: #000;
              text-transform: uppercase;
              font-weight: 600;
            }
            &-value {
              color: #6c757d;
              font-size: 12px;
              word-break: break-word;
              &-pre {
                white-space: pre-wrap;
              }
            }
          }
        }
      }
    }
  }
  &-content {
    width: 500px;
    min-height: 300px;
    background: #fff;
    margin: 100px auto 100px auto;
    border-radius: 10px;
    position: relative;
    &-body {
      position: relative;
    }
    &-close {
      width: 30px;
      height: 30px;
      position: absolute;
      left: 100%;
      margin-left: 15px;
      cursor: pointer;
      opacity: .5;
      &:hover {
        opacity: 1;
      }
      &:before, &:after {
        content: '';
        position: absolute;
        width: 4px;
        border-radius: 2px;
        height: 30px;
        top: 50%;
        left: 50%;
        background: #fff;
      }
      &:before {
        transform: translate(-50%,-50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%,-50%) rotate(-45deg);
      }
    }
  }
  &-slot {
    overflow: auto;
    &-header {
      padding: 25px;
      border-bottom: 1px solid #F1F4F8;
      &-title {
        font-size: 18px;
        font-weight: 600;
      }
      &-desc {
        font-size: 12px;
        color: #7d7f81;
      }
    }
    &-body {
      padding: 25px;
      display: flex;
      flex-direction: column;
      &-table {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        border: 1px solid #F1F4F8;
        border-radius: 5px;
        background: #f8fbff;
        &-tr {
          display: flex;
          color: #7d7f81;
          border-bottom: 1px solid #F1F4F8;
          &:last-child {
            border-bottom: none;
          }
          &-triple > div {
            width: 33.3%;
            max-width: 33.3%;
          }
          &-head {
            font-weight: 600;
            text-transform: uppercase;
            color: #000;
          }
          &-link {
            color: #0b76a6;
          }
        }
        &-td {
          word-break: break-all;
          padding: 15px;
          border-right: 1px solid #F1F4F8;
          display: flex;
          flex-direction: column;
          &:last-child {
            border-right: none;
          }
        }
      }
      &-info {
        font-size: 12px;
        display: flex;
        margin-bottom: 20px;
        gap: 5px;
        color: #0b76a6;
        justify-content: center;
        &-item {
          background: #F1F4F8;
          padding: 5px 15px 5px 15px;
          border-radius: 15px;
          cursor: pointer;
          &:hover, &-sel {
            background: #0b76a6;
            color: #fff;
          }
        }
      }
      &-folder {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        &-details {
          display: flex;
          gap: 10px;
          align-items: center;
          border-radius: 5px;
          padding: 10px;
          cursor: pointer;
          &:hover {
            background: #f8fbff;
          }
          &-info {
            display: flex;
          }
          &-arr {
            width: 16px;
            height: 16px;
            position: relative;
            cursor: pointer;
            transform: rotate(180deg);
            &:before, &:after {
              content: '';
              position: absolute;
              background: #d0d5dd;
              width: 3px;
              height: 9px;
              border-radius: 3px;
            }
            &:before {
              transform: rotate(45deg);
              margin: 1px 0 0 6px;
            }
            &:after {
              transform: rotate(-45deg);
              margin: 6px 0 0 6px;
            }
            &-open {
              transform: rotate(270deg);
            }
          }
          &-icon {
            width: 16px;
            min-width: 16px;
            height: 16px;
            background: url('/images/icons/folder.png') no-repeat center;
          }
          &-title {
            font-weight: 600;
            color: #7d7f81;
            & > span {

            }
          }

        }
        &-list {
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          &-hide {
            display: none;
          }
        }
      }
      &-switcher {
        display: flex;
        flex-direction: column;
        gap: 15px;
        & > div:first-child {
          border-top: none;
          padding-top: 0;
        }
        & > div {
          padding-right: 0;
          padding-left: 0;
        }
      }
      &-footer {
        padding: 25px;
        border-top: 1px solid #F1F4F8;
        display: flex;
        flex-direction: column;
        background: #f8fbff;
        border-radius: 0 0 10px 10px;
        & > button {
          background: #0b76a6;
          font-size: 12px;
          height: 36px;
          border: none;
          padding: 0 15px 0 15px;
          color: #fff;
          border-radius: 5px;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
      &-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &-list {
          gap: 0;
        }
        &-item {
          display: flex;
          flex-direction: column;
          gap: 5px;
          &-title {
            font-size: 12px;
            text-transform: uppercase;
            color: #6c757d;
            font-weight: bold;
          }
          &-option {
            width: 100%;
            & > select, & > input {
              border-radius: 5px;
              height: 36px;
              width: 100%;
              background: #F1F4F8;
              border: none;
              padding: 0 10px 0 10px;
              font-size: 12px;
              outline: none;
            }
            & > button {
              height: 36px;
              font-size: 12px;
              text-transform: uppercase;
              font-weight: bold;
              border: none;
              border-radius: 5px;
              background: #0b76a6;
              color: #fff;
              outline: none;
            }
          }
        }
        &-detail {
          display: flex;
          gap: 20px;
          &-main {
            margin-bottom: 20px;
          }
          &-item {
            padding: 15px 25px 15px 25px;
            width: 500px;
            left: -25px;
            position: relative;
            z-index: 2;
            font-size: 14px;
            color: #6c757d;
            cursor: pointer;
            gap: 15px;
            align-items: center;
            &:hover {
              background: #f8fbff;
            }
          }
          &-logo {
            width: 70px;
            min-width: 70px;
            max-width: 70px;
            height: 70px;
            background: #0b76a6;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            font-weight: 600;
            font-size: 20px;
          }
          &-icon {
            width: 24px;
            height: 24px;
            &-profile {
              background-image: url('/images/icons/profile.png');
            }
            &-settings {
              background-image: url('/images/icons/settings.png');
            }
            &-notification {
              background-image: url('/images/icons/bell.png');
            }
            &-security {
              background-image: url('/images/icons/locked-24.png');
            }
            &-faq {
              background-image: url('/images/icons/faq.png');
            }
            &-question {
              background-image: url('/images/icons/question.png');
            }
            &-logout {
              background-image: url('/images/icons/power.png');
            }
            &-menu {
              background-image: url('/images/icons/menu.png');
            }
          }
          &-info {
            display: flex;
            flex: 1;
            align-items: center;
            & > select {
              margin-left: auto;
              height: 36px;
              border: none;
              padding: 0 10px 0 10px;
              border-radius: 5px;
              outline: none;
              background: #f8fbff;
              font-size: 12px;
              color: #0b76a6;
            }
            &-title {
              font-size: 16px;
              font-weight: 600;
            }
            &-desc {
              font-size: 12px;
              text-transform: lowercase;
              color: #6c757d;
              &:before {
                content: '@';
              }
            }
            &-add {
              font-size: 12px;
              color: #0b76a6;
            }
          }
        }
      }
    }
  }
}